body {
    background-color: #000;
    color: #fff;
  }
  
  .navbar-light {
    & .navbar-brand,
    & .navbar-nav .nav-link {
      color: #fff;
    }
  }
  
  .container {
    padding-top: 50px;
  }
  
  /* Style the booking form */
  .booking-form {
    background-color: #111;
    padding: 20px;
    border-radius: 10px;
  }
  
  .form-group {
    label {
      color: #fff;
    }
  }
  
  .form-control {
    background-color: #222;
    color: #fff;
    border-color: #444;
  }
  
  .btn-primary {
    background-image: linear-gradient(to left,#ea817f,#bb5553);
    border:none;
    &:hover {
      background-color: #632b2a; 
      border: none;
    }

    .img-what { 
      display: flex;
      width: 50px; 
      height: 50px; 
      cursor: pointer;
      position: fixed;
      right: 25px;
      bottom: 10px;
      transition: all 1s;
    
      &:hover {
        transform: rotate(360deg);
      }
    }
  }
