footer {
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) 73%, rgba(78,41,53,1) 100%);
  color: white;
  padding: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .col {
      flex: 1;
      padding: 10px;

      &:first-child {
        order: 2;
      }

      &:last-child {
        order: 1;
      }

      .phone,
      .mail {
        display: flex;
        align-items: center;
        font-weight: bold;

        i {
          margin-right: 10px;
          font-size: 1.5rem;
        }

        p {
          margin: 0;
          font-size: 1rem;
        }
      }
    }
  }

  .redes {
    display: flex;
    justify-content: center;

    a {text-emphasis: none;
      background-color: white;
      padding: 8px;
      border-radius: 60px;
      color: black;
      text-decoration: none;
      display: flex;
      margin: 5px;
      &:hover {
        background-color:rgba(255, 255, 255, 0.716);  
      }
    }

      @media (max-width: 768px) {
        .row {
          flex-direction: column;
          align-items: center;
    
          .col {
            width: 100%;
    
            &:first-child,
            &:last-child {
              order: 0;
            }
    
            .phone,
            .mail {
              margin-top: 10px;
            }
          }
        }
    
        .redes {
          margin-top: 10px;
        }
      }
    }

  }
  
