.servicios {
    padding: 40px;
    margin: 30px;
  
    .texto {
      color: #fff;
      font-family: Arial, sans-serif;
    }
  
    .section {
      padding: 40px;
      text-align: center;
  
      p {
        font-size: 18px;
      }
  
      img {
        max-width: 40%;
        height: 20px;
      }
    }
  
    &.section-bride {
      
      img {
        size: 50%;
      }
    }
  }

  
 
  
